@import './fonts';

// Fonts
// $font-primary-regular: 'AvenirNext-Regular';
// $font-secondary-semibold: 'JosefinSans-SemiBold',Sans-Serif;
$font-regular: 'Montserrat-Regular',Sans-Serif;
$font-light: 'Montserrat-Light',Sans-Serif;
$font-semibold: 'Montserrat-SemiBold',Sans-Serif;
$font-thin: 'Montserrat-Thin',Sans-Serif;


// Colors
$white: white;
$black: black;
$link: #f4c6a5;
$inactive-link: #818181;
