@import '~bootstrap/scss/bootstrap';
@import 'scss/utilities/variables';
@import 'scss/components/nav-menu';

@import 'scss/home.scss';


html { 
    font-size: 62.5%; 
} 

body {
    font-family: $font-primary-regular;
    font-size: 1.5rem; 
    line-height: 1.5;
}

